
 a {
    text-align:center;
    text-size-adjust:initial;
    color:rgb(0, 0, 0)

 }
 h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:serif;
    font-style: oblique;
    
}
 h2{ 
 font-style: oblique;
 text-align: center;

 
 
}
.mydiv{
   border-style: double;
   width: 20%;
   
}
 p {
    
    text-align:left;
    color: rgb(0, 0, 0);
    font-size:large;
    font-style: inherit ;
    text-indent: 30px;
    border: black;
    border-style:initial;
    position:relative;
    
}

body {
   background-image: url(/bg.jpg);
   background-repeat: repeat;
   background-size:cover;
   background-attachment: fixed;
   
  
}
